body {
    background-color: rgb(255, 255, 255);
}

#top_img {
    border-radius: 20px;
    /* filter: drop-shadow(0 0 4px #ff8300); */
    /* box-shadow: 0 0 20px #ff8300; */

    animation: anime 2s linear infinite;
}

@keyframes anime {
    0% {
        box-shadow: 0 0 0 #fe9f39;
        filter: drop-shadow(0 0 0px #ff8300);
    }

    50% {
        box-shadow: 0 0 20px #ff8300;
        filter: drop-shadow(0 0 20px #ff8300);
    }

    0% {
        box-shadow: 0 0 0 #fe9f39;
        filter: drop-shadow(0 0 0px #ff8300);
    }
}

#rec610154679 .tn-elem[data-elem-id="1687436199612"] .tn-atom {
    background: linear-gradient(0.91turn, #282828 12%, rgba(1, 1, 1, 1) 98%);
}

#t396__filter0000 {
    background: #141313 !important;
}

#img-text {

    display: none;
}

#date {
    font-size: 60px;
    font-weight: 300 !important;
    filter: drop-shadow(3px 3px 3px #a9957d);
    color: #c8a16d;
}

#Ymaps {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#map_wrapp {
    max-width: none;
}

#top_title {
    padding-top: 20px !important;
}

iframe {
    width: 100%;
    max-width: 800px;
}

#timer {
    filter: drop-shadow(3px 3px 3px #a9957d);
    color: #c8a16d;
}